@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/* CSS Document */
/*
font-family: 'Montserrat', sans-serif; 
font-family: 'Nanum Gothic', serif;
*/

body, html{
	margin:0;
	padding:0;
	background:#c59972;
	height:100%;
	overflow-x:hidden;
}

#contain{
	width:100%;
	height:75%;
	padding-top:200px;
	position:relative;
}

@media all and (min-width: 1px){
	
.box{
	position:relative;
	width:60%;
	margin:0 auto;
	border-bottom:#fff 1px solid;
	border-top:#fff 1px solid;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	color:#fff;
	
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-ms-transition:all 0.s;
	-o-transition:all 0.5s;
	-webkit-transition:all 0.5s;
}

.eNum{
	width:100%;
	margin:0 auto;
	font-size:100px;
	letter-spacing:10px;
	line-height:150px;
}

.eText{
	font-size:30px;
	letter-spacing:4px;
	line-height:50px;
	padding-bottom:10px;
}

.sorry{
	width:100%;
	text-align:center;
	color:#fff;
	font-size:14px;
	bottom:-30px;
	margin-top:10px;
}

.underline{
	text-decoration:underline;
}

.bottomText{
	width:100%;
	position:absolute;
	bottom:0px;
	text-align:center;
	color:#fff;
	font-size:14px;
	letter-spacing:1px;
}

.button-C{
	width:100%;
	margin:0 auto;
	max-width:200px;
}

.button{
	margin-top:100px;
	box-sizing:border-box;
	width:200px;
	height:60px;
	color:#fff;
	border:1px solid #fff;
	font-size:16px;
	text-align:center;
	line-height:58px;
}

.button-active{
	color:#c59972;
	background:#fff;
	
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-ms-transition:all 0.s;
	-o-transition:all 0.5s;
	-webkit-transition:all 0.5s;
}

.orange{
	color:#ff4800;
}	
	

}


@media all and (min-width: 767px){
	
.box{
	position:relative;
	width:40%;
	margin:0 auto;
	border-bottom:#fff 1px solid;
	border-top:#fff 1px solid;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	color:#fff;
}



.eNum{
	width:100%;
	margin:0 auto;
	font-size:150px;
	letter-spacing:10px;
	line-height:200px;
}

.eText{
	font-size:50px;
	letter-spacing:4px;
	line-height:80px;
	padding-bottom:10px;
}	
	

}

@media all and (min-width: 1020px){
	
}

